/*
 * Globals
 */

/*
 * Base structure
 */

@font-face {
    font-family: latin-modern-mono;
    src: url(assets/fonts/lmmono10-regular.otf);
}

div {
    font-family: latin-modern-mono;
}


html,
body {
  height: 100%;
  background-color: #e6e6e6;
}
body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }

/*Extras*/

.profile-pic {
  vertical-align: middle;
  text-align: center;
}

.social-icons {
  padding-left: 20px;
}

.contact-icons {
  margin-top: 50px;
}

.bio {
  margin-top: 20px;
  text-align: justify;
  line-height: 1.3;
  letter-spacing: -0.32;
  font-size: 20px;
}